In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_pickle('../pandas/raw_articles.pkl')
df_lemma = pd.read_pickle('../pandas/lemma_articles.pkl')
df_labels = pd.read_csv('../datafiles/data_hu.csv')

In [3]:
df_raw

,article_id,article
0,o7zDbmABVo8DrD4X_AVd,AKTUELL PROFILE Tøff og hardtslående. FAKTARAM...
1,tcLGbmABVo8DrD4X_sD0,"Ord for dagen. Kronikk. En større, seriøs arti..."
2,JtDNbmABVo8DrD4Xd1SS,VÆRENSelv om dette er dagen. for store fall og...
3,Ar3EbmABVo8DrD4XvPSw,Høyeste nivå av CO2 på 650 000 år. Nivået av k...
4,fNbPbmABVo8DrD4Xmj0b,22000000. Fung. debattredaktør Debattredigerer...
...,...,...
1561438,47rDbmABVo8DrD4XKxFk,REGJERINGEN STOLTENBERG KOMMENTAR Mye å leve o...
1561439,Uc7MbmABVo8DrD4Xnp1E,Kamp mot barneporno. FORFATTEREN: Sonja Sjøli ...
1561440,iLnDbmABVo8DrD4XBdVL,SPORT kommentar President under press. Dag Vid...
1561441,5tPObmABVo8DrD4XrvRK,Krass dialog. Krass dialogUtenriksminister Jon...
1561442,drzEbmABVo8DrD4XT980,Behandler ikke melketenner. I Sør-Trøndelag ha...

In [4]:
df_lemma

,article_id,article
0,18DFbmABVo8DrD4Xix2D,vite for lite om skiftarbeid på sokkel $. kunn...
1,S9LObmABVo8DrD4XGCRo,12.00 rapport $. 12.05 agenda 13.00 Sportspege...
2,a9fQbmABVo8DrD4XF26M,fotball italiensk serie A. Hellas Verona $- La...
3,eMLGbmABVo8DrD4X7Jn4,$- Høyre vinne på å sitte musestille $. for fø...
4,NcPHbmABVo8DrD4XSJE4,fagbevegelse frykte minstelønn $. norsk fagbev...
...,...,...
1561438,6rrDbmABVo8DrD4XdbC7,kommentar en politisk stedsvalg $. det handle ...
1561439,4dHNbmABVo8DrD4X6qDu,kreve mye politi ville øke status til ute- tje...
1561440,or_FbmABVo8DrD4XTXbQ,utfordre Oslo Trondheim mene 70 million være n...
1561441,n77EbmABVo8DrD4XziXA,Valginnspurt valg 2005 få inn 5 mrd. ekstra i ...
1561442,QM_MbmABVo8DrD4X51wA,07.05 Mess-TV 11.00 under $. samme tak 11.30 s...

In [5]:
df_labels

,_id,_source.codes.majorTopic,_source.publication_date,_source.doctype,_source.codes.coderId
0,o7zDbmABVo8DrD4X_AVd,NaN,2002-01-09T03:00:00Z,Aftenposten,NaN
1,tcLGbmABVo8DrD4X_sD0,NaN,2010-05-12T02:00:00Z,Aftenposten,NaN
2,JtDNbmABVo8DrD4Xd1SS,NaN,2006-11-30T03:00:00Z,VG,NaN
3,Ar3EbmABVo8DrD4XvPSw,NaN,2005-11-26T03:00:00Z,Aftenposten,NaN
4,fNbPbmABVo8DrD4Xmj0b,NaN,2012-08-01T02:00:00Z,VG,NaN
...,...,...,...,...,...
1561438,47rDbmABVo8DrD4XKxFk,NaN,2000-03-18T03:00:00Z,Aftenposten,2
1561439,Uc7MbmABVo8DrD4Xnp1E,NaN,2003-02-20T03:00:00Z,VG,2
1561440,iLnDbmABVo8DrD4XBdVL,NaN,2000-07-10T02:00:00Z,Aftenposten,2
1561441,5tPObmABVo8DrD4XrvRK,NaN,2009-04-22T02:00:00Z,VG,2
1561442,drzEbmABVo8DrD4XT980,NaN,2003-02-07T03:00:00Z,Aftenposten,2

In [6]:
merged_df = pd.concat([
    df_raw.set_index('article_id').rename(columns={'article':'raw'}),
    df_lemma.set_index('article_id').rename(columns={'article':'lemma_delivered'}),
    df_labels.set_index('_id'),
], axis=1)

C:\Users\nils\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

In [8]:
merged_df

,raw,lemma_delivered,_source.codes.majorTopic,_source.publication_date,_source.doctype,_source.codes.coderId
-73EbmABVo8DrD4XXABc,Tautrekking om Tyrkia i Brussel. Frankrike kre...,tautrekking om Tyrkia i Brussel $. Frankrike k...,NaN,2004-12-14T03:00:00Z,Aftenposten,NaN
-73EbmABVo8DrD4XXAFc,Vil binde politikere til masten. Finn E. Kydla...,ville binde politiker til maste $. Finn E. Kyd...,NaN,2004-12-11T03:00:00Z,Aftenposten,NaN
-73EbmABVo8DrD4XXAJc,NHL-proffene reiser snart? Ishockeyproffene fr...,NHL-proff reise snar $? Ishockeyproff fra NHL ...,NaN,2004-12-08T03:00:00Z,Aftenposten,NaN
-73EbmABVo8DrD4XXAP8,Fødselsdager. I dag fyller fiolinisten Arve Te...,Fødselsdag $. i dag fylle fiolinist arve Telle...,NaN,2004-12-14T03:00:00Z,Aftenposten,NaN
-73EbmABVo8DrD4XXAT8,Suchet legger opp. Den franske toppalpinisten ...,Suchet legge opp $. den fransk toppalpinist Me...,NaN,2004-12-10T03:00:00Z,Aftenposten,NaN
...,...,...,...,...,...,...
ztnQbmABVo8DrD4XyBut,TRØNDERSUKSESSEN. LAHTI (VG) Trøndelagsfylkene...,Trøndersuksess $. LAHTI $( VG $) Trøndelagsfyl...,NaN,2017-02-28T02:00:00Z,VG,NaN
ztnQbmABVo8DrD4Xyxw6,På sine 37 første dager som president klarte D...,på sin 37 første dag som president klare Donal...,NaN,2017-02-27T02:00:00Z,VG,NaN
ztnQbmABVo8DrD4XzSKq,ANKLAGER ERNA FOR LØFTEBRUDD. Sykepleierforbun...,anklager Erna For LØFTEBRUDD $. Sykepleierforb...,NaN,2017-02-15T02:00:00Z,VG,NaN
ztnQbmABVo8DrD4XzyXE,Om: Gro Harlem Brundtland. Først 25 år etter s...,om $: Gro Harlem Brundtland $. først 25 år ett...,NaN,2017-02-11T03:00:00Z,VG,NaN
ztnQbmABVo8DrD4XzybE,Vaskemaskinen flyttet seg under sentrifugering...,Vaskemaskin flytte seg under sentrifugering $....,NaN,2017-02-07T03:00:00Z,VG,NaN

In [9]:
merged_df.to_pickle('../pandas/merged_df.pkl')